{% extends 'base.html' %}

{% block title %}
    Random
{% endblock title %}

{% block content %}
    <div class="d-flex flex-column mt-4">

        <div class="d-flex justify-content-center flex-row mb-5">
        <span class="me-2 fs-3 correct d-none"
              style="color:{% if random_word.artikel == 'M' %}#39A2DB{% elif random_word.artikel == 'F' %}#FF2626{% elif random_word.artikel == 'N' %}#66DE93{% endif %}">
            <i class="bi bi-record-circle-fill"></i>
        </span>
            <span class="me-2 fs-3 sample"
                  style="color:rgba(0,0,0,0.5);">
            <i class="bi bi-record-circle-fill"></i>
        </span>
            <span class="fs-3">{{ random_word.substantiv }}</span>
            <input type="hidden" id="pk" value="{{ random_word.pk }}">
            <span class="fs-3 ms-2 correct d-none">{{ random_word.get_plural_display }}</span>
            <span class="fs-3 ms-2 sample"> -</span>
        </div>
        <div class="d-flex justify-content-center flex-column">
            <button type="button" id="view" class="btn btn-lg btn-outline-secondary col-4 mb-3 mx-auto">Sehen</button>
            <div id="next-btns" class="btn-group btn-group-lg col-4 mx-auto d-none" role="group" aria-label="">
                <button type="button" id="falsch" class="btn btn-outline-secondary">Falsch</button>
                <button type="button" id="stimmt" class="btn btn-secondary">Stimmt</button>
            </div>
        </div>

        <hr>

        <div class="row align-items-start">
            <div class="col border-end border-3 d-flex flex-column">
                <span class="h4">Stimmt:</span>
                {% for word in stimmt_history_words %}
                    <span>{{ word.wort }}: {{ word.mal }}</span>
                {% endfor %}
            </div>
            <div class="col d-flex flex-column">
                <span class="h4">Falsche:</span>
                {% for word in falsch_history_words %}
                    <span>{{ word.wort }}: {{ word.mal }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_body %}
    <script>
        function correct() {
            $('.correct').removeClass('d-none')
            $('#next-btns').removeClass('d-none')
            $('.sample').addClass('d-none')
        }

        function add_stimmt() {
            let pk = $('#pk').val()
            $.ajax({
                url: "{% url 'profiles:add-stimmt' %}",
                method: "POST",
                data: {pk: pk},
            })
                .done(function () {
                    location.reload()
                })
        }

        function add_falsch() {
            let pk = $('#pk').val()
            $.ajax({
                url: "{% url 'profiles:add-falsch' %}",
                method: "POST",
                data: {pk: pk},
            })
                .done(function () {
                    location.reload()
                })
        }

        $('#view').click(function () {
            correct()
        })

        $('#stimmt').click(function () {
            add_stimmt()
        })

        $('#falsch').click(function () {
            add_falsch()
        })

        $(document).keydown(function (event) {
            if (event.which === 32) {
                if ($('.correct').hasClass('d-none')) {
                    correct()
                } else {
                    add_stimmt()
                }
            } else if (!$('.correct').hasClass('d-none') && event.which === 39) {
                add_stimmt()
            } else if (!$('.correct').hasClass('d-none') && event.which === 37) {
                add_falsch()
            }
        })
    </script>
{% endblock extra_body %}